*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-color: #FFF8F3;
    background-image: url("images/header_bg.png"), url("images/developer.png");
    background-position: right bottom, 25px center;
    background-repeat: no-repeat;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary, .btn-secondary{
    padding: 18px 35px;
    color: #FFFFFF;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
}

.btn-primary:hover{
    color: #FD6E0A;
    background-color: white;
}
.btn-secondary:hover{
    color: #FFFFFF;
    background-color: #FD6E0A;
}

.btn-secondary{
    background-color: #FFFFFF;
    color: #FD6E0A;
    border:.5px solid #FD6E0A;
}

/* Nav Section */

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
}

.nav-menu{
    display: flex;
    margin-top: 60px;
    align-items: center;
}

.logo-text {
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    color: #181818;
    margin-top: 50px;
}

.nav-menu li {
    list-style: none;
    margin-right: 50px;
}

.nav-menu li a{
    text-decoration: none;
    color: #474747;
}


/* Bio Section */


button span {
    color: white;
    font-weight: 900;
}

.bio {
    display: flex;
    align-items: center;
    gap: 163px;
}

.bio-details{
    width: 585px;
    margin-left: 200px;
}

.bio-details h2 {
    line-height: 61px;
    font-size: 45px;
    font-weight: 500;
}

.bio-details h1 {
    line-height: 116px;
    font-size: 85px;
}

.bio-details p {
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}

.bio-details button {
    margin-right: 20px;
}

.bio img {
    margin-right: 38px;
}


/* About Section */

.about {
    margin-top: 130px;
    margin-bottom: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
}

.about-content {
    padding: 130px 156px;
    text-align: center;
}

.about-content h2 {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    line-height: 48px;
}

.about-content > p {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 30px 0;
}

.about-details {
    display: flex;
    justify-content: space-around;
    
}

.about-details .label, .about-details .info{
    color: #757575;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px; 
}

.about-details .info {
    color: #474747;
}

/* What I Do */



.what-i-do {
    margin-bottom: 130px;
}

.what-i-do > h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    color: #181818;
    text-align: center;
}

.what-i-do > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    margin: 30px 115px 50px;
    text-align: center;
}

.skills {
    display: flex;
    gap: 24px;
}

.skill-box {
    box-shadow: 0 6px 50px rgba(0,0,0,0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-description > h4 {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin: 30px 0 20px;
}

.skill-description > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #757575;
    padding: 3px;
}

